<template>
    <div>
      <header class="header">
        <div class="header__logo-box">
          <img src="@/assets/img/logo-white.png" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
          <h1 class="heading-primary">
            <span class="heading-primary--main">OUTDOORS</span>
            <span class="heading-primary--sub">is where life happens</span>
          </h1>

          <a href="#" class="btn btn--white btn--animated">Discover our tours</a>
        </div>
      </header>
    </div>
</template>

<script>

export default {
  components: {
  }
}
</script>

<style>

</style>
